@model MotobikeStore.Models.SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenxe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenxe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mieuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mieuta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongxe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongxe.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
